<div class="container content-wrapper">
    <header>
        <h1 class="page-title">{{course_name}}</h1>
    </header>

    <section>
        <h2 class="section-title">Course Description</h2>
        <p>{{course_description}}</p>
    </section>

    <div class="button-container">
        <a href="/" class="btn add-course-btn">Add Course</a>
    </div>

    <section class="students-section">
        <h2 class="section-title">Students Enrolled</h2>
        <ul class="students-list">
            {{#each students}}
            <li href="/students/{{this}}">{{this}}</li>
            {{/each}}
        </ul>
    </section>
</div>