<div class="container">
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="class-search" placeholder="Search a class" autocomplete="off">
        <!-- Dropdown for suggestions as you type -->
        <div id="search-dropdown" style="display: none;">
            <!-- Search suggestions will appear here -->
        </div>
    </div>

    <!-- Main Content Layout -->
    <div class="content-layout">
        <!-- Current Study Buddies Column -->
        <div class="column study-buddies">
            <h3>Current Study Buddies</h3>
            <div class="buddy-list">
                <!-- Current study buddies will be displayed here -->
            </div>
        </div>

        <!-- Suggested Study Buddies Column -->
        <div class="column suggested-buddies">
            <h3>Suggested Study Buddies</h3>
            <div class="suggested-list">
                <!-- Suggested study buddies will be displayed here -->
            </div>
        </div>

        <!-- Incoming Requests Column -->
        <div class="column incoming-requests">
            <h3>Incoming Requests</h3>
            <div class="request-list">
                <!-- Incoming requests will be displayed here -->
            </div>
        </div>
    </div>
</div>