<div class="form-container">
    <h2>Login</h2>

    <!-- Error Message Section -->
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}

    <form method="post" action="/login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required /><br />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required /><br />

        <input type="submit" value="Login" class="login-button" />
    </form>

    <div class="form-text">
        <a href="/register">REGISTER</a>
    </div>
</div>