<div class="profile-container">
    <div class="profile-header">
        <img src="https://via.placeholder.com/100" alt="Profile Image" class="profile-image">
        <h1 id="studentProfileNameDisplay">First Name, Last Name</h1>
    </div>

    <div class="profile-info">
        <h2>Major</h2>
        <p id="studentProfileMajorDisplay">--</p>
    </div>

    <div class="profile-stats">
        <h2>Courses</h2>
        <ul id="studentProfileCoursesDisplay">
            <li>--</li>
        </ul>
    </div>
</div>

<script src="/js/studentProfile.js"></script>