<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oQj+Agc1GdK9FwDBlSc6wb9e2J9K2EU7KU9z6G+fU+bZHhyyR35k9EB+n/yi8H2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMyGTDJVi8SbqJrpPn/6mCJGH9z6N3EPC2vmjEj" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

</html>